<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/aboutStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <%- include('firstnav'); %>
        <%- include('navbar'); %>
        <div id="coverdiv">
            <img src="../images/g5.avif" alt="">
            <div class="contentdiv">
                <h1 class="contentdiv-h1">About Us</h1>
                <h3 class="contentdiv-h3">
                    <span style="margin-right: 20px;">Home</span>
                    <span style="letter-spacing: -10px; color: #8D43F2;">
                        <i class="ri-arrow-right-s-line"></i>
                        <i class="ri-arrow-right-s-line"></i>
                    </span>
                    <span style="margin-left: 20px;">About Us</span>
                </h3>
            </div>
        </div>
        <div id="main-about-section">
            <div class="main-about-section-left">
                <h3 class="main-about-section-left-h3">About Us <span style="color: #8D43F2;">~</span></h3>
                <h1 class="main-about-section-left-h1">Choose <span style="color: #1475F7;">The Best</span> IT <br> Service Company</h1>
                <p class="main-about-section-left-p">ITSoft has been optimized to give your visitors the best experience in terms of UX/UI, with a unique design.</p>
                <h2 class="main-about-section-left-h2">Our Mission</h2>
                <p class="main-about-section-left-p">An IT firm or MSP who keeps your IT running smoothly at all times is like a plumber who fixes your pipes; that’s what they are supposed to do. Many IT firms struggle to keep themselves and their IT from falling apart. We’ve raised the standards in this industry and are a leading cybersecurity.</p>
                <div class="main-about-section-left-checkdiv">
                    <h3>Check details about our company</h3>
                    <div class="main-about-section-left-checkdiv-circle"><i class="ri-play-fill"></i></div>
                </div>
            </div>
            <div class="main-about-section-right">
                <div class="main-about-section-right-imagediv">
                    <img src="../images/g2.avif" alt="">
                    <div class="main-about-section-right-imagediv-option">
                        <i style="font-size: 50px;" class="ri-medal-fill"></i>
                        <div style="margin-left: 20px;">
                            <h3>Best Awarded Company</h3>
                            <p>We adapt our delivery to the way your work, whether as an external provider.</p>
                        </div>
                    </div>
                </div>
                <div class="main-about-section-right-circlediv"></div>
            </div>
        </div>
        <div id="main-about-display-section">
            <div class="main-about-display-section-contentdiv">
                <div style="flex-direction: column;display: flex;align-items: center;">
                    <div class="main-about-display-section-contentdiv-upper">
                        <i style="color: #1475F7; font-size: 50px;" class="ri-parent-fill"></i>
                        <h1 style="color: white; margin-left: 10px;">105+</h1>
                    </div>
                    <div class="main-about-display-section-contentdiv-lower">
                        <h3>Team members</h3>
                    </div>
                </div>
                <div style="flex-direction: column;display: flex;align-items: center;">
                    <div class="main-about-display-section-contentdiv-upper">
                        <i style="color: #1475F7; font-size: 50px;" class="ri-medal-fill"></i>
                        <h1 style="color: white; margin-left: 10px;">15+</h1>
                    </div>
                    <div class="main-about-display-section-contentdiv-lower">
                        <h3>Winning awards</h3>
                    </div>
                </div>
                <div style="flex-direction: column;display: flex;align-items: center;">
                    <div class="main-about-display-section-contentdiv-upper">
                        <i style="color: #1475F7; font-size: 50px;" class="ri-list-check-2"></i>
                        <h1 style="color: white; margin-left: 10px;">10K+</h1>
                    </div>
                    <div class="main-about-display-section-contentdiv-lower">
                        <h3>Completed project</h3>
                    </div>
                </div>
                <div style="flex-direction: column;display: flex;align-items: center;">
                    <div class="main-about-display-section-contentdiv-upper">
                        <i style="color: #1475F7; font-size: 50px;" class="ri-check-double-line"></i>
                        <h1 style="color: white; margin-left: 10px;">850+</h1>
                    </div>
                    <div class="main-about-display-section-contentdiv-lower">
                        <h3>Client's reviews</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-about-testimonials-section">
            <div class="main-about-testimonials-section-left">
                <h3 class="main-about-testimonials-section-left-h3">Testimonials <span style="color: #8D43F2;">~</span></h3>
                <h1 class="main-about-testimonials-section-left-h1">Testimonials Few of Our Client's <br>feedback <span style="color: #1475F7;">of users!</span></h1>
                <h3 class="main-about-testimonials-section-left-h4"><span style="color: #1475F7;">Clients Reviews:</span></h3>
                <p class="main-about-testimonials-section-left-p">
                    "This is one of the BEST THEMES I have ever worked with. The extra bells and whistles added to it are amazing. Elementor features add extra flavor. The customer support is very responsive."
                </p>
            </div>
            <div class="main-about-testimonials-section-right"></div>
        </div>
        <%- include('footer'); %>
    </div>
    
</body>
</html>