<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
<div id="main">

  <%- include('firstnav'); %>
  <%- include('navbar'); %>
  <div id="main-home-page">
     <img src="../images/g1.avif" alt="">
     <div class="main-home-page-content-box">
      <div class="main-home-page-header"><h3><span style="color: #5333f2 ;">~ We are IT service </span><span style="color:  #6f14efde;">agency ~</span></h3></div>
      <h1 class="main-home-page-content-box-h1">Think Big. We make <br> IT, possible!</h1>
      <h3 class="main-home-page-content-box-h3">We place you at the center of international networks to <br> advance your strategic interests.</h3>
      <div class="main-home-page-content-box-btn"><a href="">Our team <i style="margin-left: 10px;margin-top: 2px;" class="ri-arrow-right-line"></i></a></div>
     </div>
     
  </div>
  <div class="main-hoverbox">
    <div class="main-hoverbox-contentbox">
      <div class="main-hoverbox-contentbox-element-imgdiv">
        <img src="../images/UI.png" alt="">
      </div>
      <a href="" class="main-hoverbox-contentbox-a">UI/UX Design</a>
      <a href="" class="main-hoverbox-contentbox-a">Services</a>
    </div>
    <div class="main-hoverbox-contentbox">
      <div class="main-hoverbox-contentbox-element-imgdiv">
        <img src="../images/Bussiness custalance.png" alt="">
      </div>
      <a href="" class="main-hoverbox-contentbox-a">Business</a>
      <a href="" class="main-hoverbox-contentbox-a">Consultation</a>
    </div>
    <div class="main-hoverbox-contentbox">
      <div class="main-hoverbox-contentbox-element-imgdiv">
        <img src="../images/Web.png" alt="">
      </div>
      <a href="" class="main-hoverbox-contentbox-a">Website</a>
      <a href="" class="main-hoverbox-contentbox-a">Development</a>
    </div>
    <div class="main-hoverbox-contentbox">
      <div class="main-hoverbox-contentbox-element-imgdiv">
        <img src="../images/support.png" alt="">
      </div>
      <a href="" class="main-hoverbox-contentbox-a">Support</a>
      <a href="" class="main-hoverbox-contentbox-a">Management</a>
    </div>
    <div class="main-hoverbox-contentbox">
      <div class="main-hoverbox-contentbox-element-imgdiv">
        <img src="../images/Search.png" alt="">
      </div>
      <a href="" class="main-hoverbox-contentbox-a">Market</a>
      <a href="" class="main-hoverbox-contentbox-a">Research</a>
    </div>
   </div>
  <div id="main-clinet-page">
    <div class="main-clinet-page-contentdiv">
      <div class="main-clinet-page-contentdiv-left">
          <h2 class="main-clinet-page-contentdiv-left-h2">Join over +15,000 happy clients!</h2>
          <div class="main-clinet-page-contentdiv-left-line"></div>
      </div>
      <div class="main-clinet-page-contentdiv-right">
        <img src="../images/slack.png" alt="">
        <img style="margin-left: 20px;" src="../images/google.png" alt="">
        <img style="margin-left: 20px;" src="../images/XD.png" alt="">
        <img style="margin-left: 20px;" src="../images/insta.png" alt="">
        <img style="margin-left: 20px;" src="../images/reactjs.png" alt="">
        <img style="margin-left: 20px;" src="../images/nodejs.png" alt="">
      </div>
    </div>
  </div>
  <div id="main-about-page">
      <div id="main-about-page-left">
        <div class="main-about-page-left-backgorundloop"><img src="../images/backgroundloopimage.png" alt=""></div>
        <div class="main-about-page-left-imagebox">
          <img src="https://images.unsplash.com/photo-1541560052-5e137f229371?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80" alt="">
          <div class="main-about-page-left-imagebox-playbtn">
          <i class="ri-play-fill"></i>
         </div> 
        </div>
      </div>
      <div id="main-about-page-right">
        <div class="main-about-page-right-element-1">
            <h3><span style="color: #5333f2 ;">~ About O</span><span style="color:#6f14efde;">ur Company ~</span> </h3>
        </div>
        <h1 class="main-about-page-right-element-h1">Choose<span style="color:#6f14efde;"> The Best </span>IT <br> Service Company</h1>
        <div class="main-about-page-right-element-2">
          <p>An IT firm or MSP who keeps your IT running smoothly at all times is like a plumber who fixes your pipes; that's what they are supposed to do. Many IT firms struggle.
          </p>
        </div>
        <div class="main-about-page-right-element-3">
          <div class="main-about-page-right-element-3-contentdiv">
            <img src="../images/UI.png" alt="">
            <h3 style="margin-left: 20px;">Moneyback <br>Gurantee</h3>
          </div>
          <div class="main-about-page-right-element-3-contentdiv">
            <img src="../images/UI.png" alt="">
            <h3 style="margin-left: 20px;">Moneyback <br>Gurantee</h3>
          </div>
        </div>
        <div class="main-about-page-right-element-4">
         <a href="">
          <div class="main-about-page-right-element-4-left">
            Contact Us<i class="ri-arrow-right-line"></i>
          </div>
         </a>
          <div class="main-about-page-right-element-4-right">
            <div class="main-about-page-right-element-4-right-circle">
              <i class="ri-phone-fill"></i>
            </div>
            <h3 style="margin-left: 20px;"><span style="color: rgba(128, 128, 128, 0.438);">Call for help</span><br><span style="color: black;">+91 958 932 9268</span></h3>
          </div>
        </div>
      </div>
  </div>
  <div id="main-service-page">
    <div class="main-service-page-header">
      <h3><span style="color: #5333f2 ;">~ Our Awes</span><span style="color:#6f14efde;">ome Services ~</span> </h3>
    </div>
    <div class="main-service-page-header-h1">
      <h1 class="main-service-page-h1">We Are To<span style="color:#6f14efde;"> Dedicated </span>to</h1>
      <h1 class="main-service-page-h1">Serve You All Time.</h1>
    </div>
    <div class="main-service-page-contentbox">
      <div class="main-service-page-contentbox-element">
        <div class="main-service-page-contentbox-element-imagediv"><img src="../images/Search.png" alt=""></div>
        <h3 class="main-service-page-contentbox-element-h3">UI/UX Design</h3>
        <div class="main-service-page-contentbox-element-line"></div>
        <div class="main-service-page-contentbox-element-paradiv">
          <p class="main-service-page-contentbox-element-p">We're wildly passionate about</p>
        <p class="main-service-page-contentbox-element-p">our purpose, and it has us</p>
        <p class="main-service-page-contentbox-element-p">transforming everything.</p>
        </div>
      </div>
      <div class="main-service-page-contentbox-element">
        <div class="main-service-page-contentbox-element-imagediv"><img src="../images/UI.png" alt=""></div>
        <h3 class="main-service-page-contentbox-element-h3">UI/UX Design</h3>
        <div class="main-service-page-contentbox-element-line"></div>
        <div class="main-service-page-contentbox-element-paradiv">
          <p class="main-service-page-contentbox-element-p">We're wildly passionate about</p>
        <p class="main-service-page-contentbox-element-p">our purpose, and it has us</p>
        <p class="main-service-page-contentbox-element-p">transforming everything.</p>
        </div>
      </div>
      <div class="main-service-page-contentbox-element">
        <div class="main-service-page-contentbox-element-imagediv"><img src="../images/Bussiness custalance.png" alt=""></div>
        <h3 class="main-service-page-contentbox-element-h3">UI/UX Design</h3>
        <div class="main-service-page-contentbox-element-line"></div>
        <div class="main-service-page-contentbox-element-paradiv">
          <p class="main-service-page-contentbox-element-p">We're wildly passionate about</p>
        <p class="main-service-page-contentbox-element-p">our purpose, and it has us</p>
        <p class="main-service-page-contentbox-element-p">transforming everything.</p>
        </div>
      </div>
      <div class="main-service-page-contentbox-element">
        <div class="main-service-page-contentbox-element-imagediv"><img src="../images/support.png" alt=""></div>
        <h3 class="main-service-page-contentbox-element-h3">UI/UX Design</h3>
        <div class="main-service-page-contentbox-element-line"></div>
        <div class="main-service-page-contentbox-element-paradiv">
          <p class="main-service-page-contentbox-element-p">We're wildly passionate about</p>
        <p class="main-service-page-contentbox-element-p">our purpose, and it has us</p>
        <p class="main-service-page-contentbox-element-p">transforming everything.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="main-choose-page">
    <div class="main-choose-page-header">
      <h3><span style="color: #5333f2 ;">~ Why choo</span><span style="color:#6f14efde;">se Us? ~</span> </h3>
    </div>
    <div class="main-choose-page-header-h1">
      <h1 class="main-choose-page-h1">We Serve A Wide<span style="color:#6f14efde;"> Variety </span>to</h1>
      <h1 class="main-choose-page-h1">Of Industries</h1>
    </div>
    <div class="main-choose-page-header-para">
      <p class="main-choose-page-p">Below is just a small sample of some of the</p>
      <p class="main-choose-page-p">industries that we serve.</p>
    </div>
  </div>
  <div id="main-mission-page">
    <div id="main-mission-page-left">
      <div class="main-mission-page-left-backgorundloop"><img src="../images/backgroundloopimage.png" alt=""></div>
      <div class="main-mission-page-left-imagebox">
        <img src="https://images.unsplash.com/photo-1541560052-5e137f229371?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80" alt=""> 
      </div>
    </div>
    <div id="main-mission-page-right">
      <p class="main-mission-page-right-element-p"><span style="color: #5333f2 ;">Touching Lives</span><span style="color:#6f14efde;">Through Technology</span></p>
      <h1 class="main-mission-page-right-element-h1"> Fingent's Four Pillars <br>Of Influence</h1>
        <p class="main-mission-page-right-element-p2">We believe in four pillars of influence that drive our growth. This <br> is ingrained in everything we do We use technology to create a <br> better and smarter environment.
        </p>
        <a href="">
          <div class="main-mission-page-right-element-btn">
            About Us<i  class="ri-arrow-right-line  main-mission-page-right-element-btni "></i>
          </div>
        </a>
    </div>
  </div>
  <div id="main-view-page">
    <div class="main-view-page-contentbox">
      <h1 class="main-view-page-contentbox-h1">We develops strategic software solutions for businesses.</h1>
      <div class="main-view-page-contentbox-elementdiv">
        <div class="main-view-page-contentbox-element">
          <h1 class="main-view-page-contentbox-element-h1">2003</h1>
          <h3 class="main-view-page-contentbox-element-h3">Year of</h3>
          <h3 class="main-view-page-contentbox-element-h3">Establishment</h3>
        </div>
        <div class="main-view-page-contentbox-element">
          <h1 class="main-view-page-contentbox-element-h1">2,5k+</h1>
          <h3 class="main-view-page-contentbox-element-h3">Of customers</h3>
          <h3 class="main-view-page-contentbox-element-h3">worldwide</h3>
        </div>
        <div class="main-view-page-contentbox-element">
          <h1 class="main-view-page-contentbox-element-h1">14+</h1>
          <h3 class="main-view-page-contentbox-element-h3">Countries with active</h3>
          <h3 class="main-view-page-contentbox-element-h3">client base</h3>
        </div>
        <div class="main-view-page-contentbox-element">
          <h1 class="main-view-page-contentbox-element-h1">4.9/5</h1>
          <h3 class="main-view-page-contentbox-element-h3">Customer</h3>
          <h3 class="main-view-page-contentbox-element-h3">rating</h3>
        </div>
      </div>
      <h3 class="main-view-page-contentbox-h3">You have better things to do than worry about IT for your small business. <span style="color: black;"> Let's Discuss about Project.</span></h3>
    </div>
  </div>
  <div id="main-testimonials-page">
    <div id="main-testimonials-page-left">
      <div class="main-testimonaials-page-left-header">
        <p class="main-testimonials-page-left-element-p"><span style="color: #5333f2 ;">Testim</span><span style="color:#6f14efde;">onials ~</span></p>
      </div>
      <h1 class="main-testimonials-page-left-element-h1">Here's what our <br> <span style="color: #5333f2 ;">customers</span> have said.</h1>
        <p class="main-testimonials-page-left-element-p2">Simplified IT is designed to help make sure you and your <br> data is protected and your computer runs it's best. The <br> network Access provides is valuable.
        </p>
       <a href="">
        <div class="main-testimonials-page-left-element-btn">
          View More<i style="margin-left: 20px;font-size: 20px;" class="ri-arrow-right-line"></i>
        </div>
       </a>
    </div>
    <div id="main-testimonials-page-right">
      <div class="main-testimonials-page-right-contentdiv">
        <p class="main-testimonials-page-right-contentdiv-p">⭐⭐⭐⭐⭐</p>
        <p class="main-testimonials-page-right-contentdiv-p2">
          “Ordered my first mobile app development to ITSoft Solutions. I was inexperienced contractor but they carefully listened to my request and try to deliver the best quality of service. All phone calls and emails are answered very professionally. ”
        </p>
        <div class="main-testimonials-page-right-contentdiv-userdiv">
          <div class="main-testimonials-page-right-contentdiv-userdiv-circle">
            <div class="main-testimonials-page-right-contentdiv-userdiv-circle2">
              <img src="../images/photo-1633332755192-727a05c4013d.avif" alt="">
            </div>
          </div>
        <div class="main-testimonials-page-right-contentdiv-userdiv-username">
          <h2>Sachin Diwar</h2>
          <h3>CEO /<span style="color: #6f14efde;">Founder</span></h3>
        </div>
        </div>
      </div>
    </div>
    <div id="main-testimonials-page-background-circle1">
        <img src="../images/background-user-image.avif" alt="">
    </div>
    <div id="main-testimonials-page-background-circle2">
      <img src="../images/background-user-image2.avif" alt="">
    </div>
    <div id="main-testimonials-page-background-circle3">
     <img src="../images/background-user-image3.avif" alt="">
    </div>
  </div>
  <%- include('footer'); %>

</div>
</body>
</html>