<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div id="navbar">
        <div class="nav-left-div"><a href="/"><img src="../images/1.png" alt=""></a></div>
        <div class="nav-right-div">
          <div class="nav-right-div-box1"><a href="/">Home</a></div>
          <div class="nav-right-div-box2"><a href="/Services">Services</a></div>
          <div class="nav-right-div-box3"><a href="/Portfolio">Portfolio</a></div>
          <div class="nav-right-div-box4"><a href="/Blog">Blog</a></div>
          <div class="nav-right-div-box5"><a href="/About">About Us</a></div>
          <div class="nav-right-div-box6"><a href="/Contact">Contact Us</a></div>
          <div class="nav-right-div-box-quote-btn"><a href="">Get a quote now <i style="margin-left: 10px;" class="ri-arrow-right-line"></i></a></div>
          <div id="navmenu" class="nav-right-div-box-quote-btn-responsive"><i class="ri-menu-line"></i></div>

        </div>
    </div>
    <div id="nav-down" style="display: none; width: 100%;padding: 15px;" class="nav-down">
        <a style="display:flex;justify-content: center;align-items: center;" href="/">Home</a> <br>
        <a  style="display:flex;justify-content: center;align-items: center;" href="/Services">Services</a><br>
        <a  style="display:flex;justify-content: center;align-items: center;" href="/Portfolio">Portfolio</a><br>
        <a  style="display:flex;justify-content: center;align-items: center;" href="/Blog">Blog</a><br>
        <a  style="display:flex;justify-content: center;align-items: center;" href="/About">About Us</a><br>
        <a  style="display:flex;justify-content: center;align-items: center;" href="/Contact">Contact Us</a><br>
        <div id="crossbtn"  style="display:flex;justify-content: center;align-items: center;" ><i class="ri-close-circle-fill"></i></div>
        
      </div>
      <script src="../javascripts/script.js"></script>
</body>
</html>