<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/portfolioStyle.css">
</head>
<body>
    <div id="main">
        <%- include('firstnav'); %>
        <%- include('navbar'); %>
        <div id="coverdiv">
            <img src="../images/g5.avif" alt="">
            <div class="contentdiv">
                <h1 class="contentdiv-h1">Portfolio</h1>
                <h3 class="contentdiv-h3">
                    <span style="margin-right: 20px;">Home</span>
                    <span style="letter-spacing: -10px; color: #8D43F2;">
                        <i class="ri-arrow-right-s-line"></i>
                        <i class="ri-arrow-right-s-line"></i>
                    </span>
                    <span style="margin-left: 20px;">Portfolio</span>
                </h3>
            </div>
        </div>
        <div id="main-portfolio-display">
            <div class="main-portfolio-display-content">
                <div class="main-portfolio-display-content-left">
                    <h3 class="main-portfolio-display-content-left-h3">Work index <span style="margin-left: 20px;">~</span></h3>
                    <h1 class="main-portfolio-display-content-left-h1">Few of Our Apps Adored <br>by <span style="color: #1475f2;">millions of users!</span></h1>
                </div>
                <div class="main-portfolio-display-content-right">
                    <p class="main-portfolio-display-content-right-p">    
                     We shows only the best websites and portfolios built completely with passion, simplicity & creativity.
                    </p>
                </div>
            </div>
        </div>
        <div id="main-portfolio-display-sections">
            <div class="main-portfolio-display-sections-column">
                <img src="../images/background-user-image.avif" alt="">
                <div class="main-portfolio-display-sections-column-header">
                    <h1 class="main-portfolio-display-sections-column-header-h1">Product Engineering</h1>
                    <h3 class="main-portfolio-display-sections-column-header-h3">Cloud Services</h3>
                </div>
            </div>
            <div class="main-portfolio-display-sections-column">
                <img src="../images/background-user-image.avif" alt="">
                <div class="main-portfolio-display-sections-column-header">
                    <h1 class="main-portfolio-display-sections-column-header-h1">Product Engineering</h1>
                    <h3 class="main-portfolio-display-sections-column-header-h3">Cloud Services</h3>
                </div>
            </div>
            <div class="main-portfolio-display-sections-column">
                <img src="../images/background-user-image.avif" alt="">
                <div class="main-portfolio-display-sections-column-header">
                    <h1 class="main-portfolio-display-sections-column-header-h1">Product Engineering</h1>
                    <h3 class="main-portfolio-display-sections-column-header-h3">Cloud Services</h3>
                </div>
            </div>
            <div class="main-portfolio-display-sections-column">
                <img src="../images/background-user-image.avif" alt="">
                <div class="main-portfolio-display-sections-column-header">
                    <h1 class="main-portfolio-display-sections-column-header-h1">Product Engineering</h1>
                    <h3 class="main-portfolio-display-sections-column-header-h3">Cloud Services</h3>
                </div>
            </div>
        </div>
        <%- include('footer'); %>
    </div>
    
</body>
</html>