<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/serviceStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <%- include('firstnav'); %>
        <%- include('navbar'); %>
        <div id="coverdiv">
            <img src="../images/g5.avif" alt="">
            <div class="contentdiv">
                <h1 class="contentdiv-h1">Services</h1>
                <h3 class="contentdiv-h3">
                    <span style="margin-right: 20px;">Home</span>
                    <span style="letter-spacing: -10px; color: #8D43F2;">
                        <i class="ri-arrow-right-s-line"></i>
                        <i class="ri-arrow-right-s-line"></i>
                    </span>
                    <span style="margin-left: 20px;">Services </span>
                </h3>
            </div>
        </div>
        <div id="main-services-page">
            <h3 class="main-services-page-h3">
                <span style="color: #8D43F2;">~</span>
                Our Services
                <span style="color: #8D43F2;">~</span>
            </h3>
            <div style="display: flex;flex-direction: column;align-items: center;margin-top: 30px;">
                <h1 class="main-services-page-h1">We provide the necessary </h1>
                <h1 class="main-services-page-h1">services to you</h1>
            </div>
            <div class="main-services-page-contentbox">
                    <div class="main-services-page-contentbox-uppersection">
                        <div class="main-services-page-contentbox-uppersection-c1">
                            <img src="../images/background-user-image.avif" alt="">
                            <div class="main-services-page-contentbox-uppersection-c1-l1">
                                <h3 class="main-services-page-contentbox-uppersection-c1-l1-h3">Backup & Recovery</h3>
                            </div>
                            <div class="main-services-page-contentbox-uppersection-c1-l1-circle1"><i class="ri-cloud-fill"></i></div>
                        </div>
                        <div class="main-services-page-contentbox-uppersection-c1">
                            <img src="../images/background-user-image2.avif" alt="">
                            <div class="main-services-page-contentbox-uppersection-c1-l1">
                                <h3 class="main-services-page-contentbox-uppersection-c1-l1-h3">Backup & Recovery</h3>
                            </div>
                            <div class="main-services-page-contentbox-uppersection-c1-l1-circle1"><i class="ri-cloud-fill"></i></div>
                        </div>
                        <div class="main-services-page-contentbox-uppersection-c1">
                            <img src="../images/background-user-image3.avif" alt="">
                            <div class="main-services-page-contentbox-uppersection-c1-l1">
                                <h3 class="main-services-page-contentbox-uppersection-c1-l1-h3">Backup & Recovery</h3>
                            </div>
                            <div class="main-services-page-contentbox-uppersection-c1-l1-circle1"><i class="ri-cloud-fill"></i></div>
                        </div>
                        <div class="main-services-page-contentbox-uppersection-c1">
                            <img src="../images/photo-1633332755192-727a05c4013d.avif" alt="">
                            <div class="main-services-page-contentbox-uppersection-c1-l1">
                                <h3 class="main-services-page-contentbox-uppersection-c1-l1-h3">Backup & Recovery</h3>
                            </div>
                            <div class="main-services-page-contentbox-uppersection-c1-l1-circle1"><i class="ri-cloud-fill"></i></div>
                        </div>
                    </div>
                    <div class="main-services-page-contentbox-lowersection">
                        <div class="main-services-page-contentbox-lowersection-c1">
                            <img src="../images/background-user-image4.avif" alt="">
                            <div class="main-services-page-contentbox-lowersection-c1-l1">
                                <h3 class="main-services-page-contentbox-lowersection-c1-l1-h3">Backup & Recovery</h3>
                            </div>
                            <div class="main-services-page-contentbox-lowersection-c1-l1-circle1"><i class="ri-cloud-fill"></i></div>
                        </div>
                        <div class="main-services-page-contentbox-lowersection-c1">
                            <img src="../images/background-user-image5.avif" alt="">
                            <div class="main-services-page-contentbox-lowersection-c1-l1">
                                <h3 class="main-services-page-contentbox-lowersection-c1-l1-h3">Backup & Recovery</h3>
                            </div>
                            <div class="main-services-page-contentbox-lowersection-c1-l1-circle1"><i class="ri-cloud-fill"></i></div>
                        </div>
                        <div class="main-services-page-contentbox-lowersection-c1">
                            <img src="../images/background-user-image6.avif" alt="">
                            <div class="main-services-page-contentbox-lowersection-c1-l1">
                                <h3 class="main-services-page-contentbox-lowersection-c1-l1-h3">Backup & Recovery</h3>
                            </div>
                            <div class="main-services-page-contentbox-lowersection-c1-l1-circle1"><i class="ri-cloud-fill"></i></div>
                        </div>
                        <div class="main-services-page-contentbox-lowersection-c1">
                            <img src="../images/background-user-image7.avif" alt="">
                            <div class="main-services-page-contentbox-lowersection-c1-l1">
                                <h3 class="main-services-page-contentbox-lowersection-c1-l1-h3">Backup & Recovery</h3>
                            </div>
                            <div class="main-services-page-contentbox-lowersection-c1-l1-circle1"><i class="ri-cloud-fill"></i></div>
                        </div>
                    </div>
            </div>
        </div>
        <div id="main-services-preview-page">
            <div class="main-services-preview-page-left">
                <div class="main-services-preview-page-left-contentdiv">
                    <h3 class="main-services-preview-page-left-contentdiv-h3">Case Studies</h3>
                    <h1 class="main-services-preview-page-left-contentdiv-h1">Information Security</h1>
                    <p class="main-services-preview-page-left-contentdiv-p">
                        We deliever best-in-class web and mobile solutions that will retain the attention  of the target audience.
                    </p>
                    <div class="main-services-preview-page-left-contentdiv-circle"><i class="ri-arrow-right-line"></i></div>
                </div>
            </div>
            <div class="main-services-preview-page-right">
                <h3 class="main-services-preview-page-right-h3">Who we are <span style="color: #8D43F2;">~</span></h3>
                <h1 class="main-services-preview-page-right-h1">Our <span style="color:#1475F7;">penetration</span> testing <br>team uses an industry</h1>
                <p class="main-services-preview-page-right-p">We provide the full spectrum of IT services and consulting for various industries.</p>
                <div class="main-services-preview-page-right-sections">
                    <div class="main-services-preview-page-right-sections-left">
                        <div class="main-services-preview-page-right-sections-left-circle"><i class="ri-codepen-line"></i></div>
                        <h3 class="main-services-preview-page-right-sections-left-h3">Digital Marketer</h3>
                        <p class="main-services-preview-page-right-sections-left-p">
                            Our customers get solutions and business opportunities instead of just projects. Our mission is to accelerate.
                        </p>
                    </div>
                    <div class="main-services-preview-page-right-sections-right">
                        <div class="main-services-preview-page-right-sections-right-circle"><i class="ri-code-s-slash-line"></i></div>
                        <h3 class="main-services-preview-page-right-sections-right-h3">Global Entrepreneur</h3>
                        <p class="main-services-preview-page-right-sections-right-p">
                            Our developers work on trending technologies to design web and on mobile applications.
                        </p>
                    </div>
                </div>
                <div class="main-services-preview-page-right-button">About us</div>
            </div>
        </div>
        <%- include('footer'); %>
    </div>

</body>
</html>